.card {
  margin: 1rem;
  position: relative;
  width: 30%;
  text-align: left;
  font-family: "Raleway", sans-serif;
}

img {
  height: 100%;
  width: 100%;
}

.card > .content > ul {
  list-style-type: none;
}
